@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* Nav Bar Style */

.navbar{
	padding: 15px;
	position: fixed;
	width: 100%;
	background: #49B7E9;
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3s ease;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}
.maxWidth{
	max-width: 1300px;
	padding: 0 30px;
	margin: auto;
}
.navbar .maxWidth{
	display: flex;
	align-items: center;
}
.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}
.navbar .menu{
	margin: auto;
	margin-right: 5px;
}
.navbar	.menu li{
	list-style: none;
	display: inline-block;
}
.navbar	.menu li a{
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover{
	color: black ;
}
/* Home Section Style */


.home{
	display: flex;
	background-color: black;
	min-height: 100vh;
	color: #fff;
	font-family: Ubuntu, sans-serif;
}
.home .maxWidth{
	margin-left: 100px;

}
.home .homeContent .text1{
	font-size: 30px;
	min-width: 90%;

}

.home .homeContent .text2{
	font-size: 40px;
	font-weight: 600;
	margin-left: 2px;
	

}

.home .homeContent .text3{
	font-size: 26px;
	font-weight: 200;
	margin-left: 2px;
	
}

.home .socialMedia{
	padding: 20px;
	margin: auto;


}

.home  .socialMedia img{
	height: 150px;
	width: 150px;
	padding: 20px;
	border-radius: 100px;
}
.about{
	font-family: 'Poppins', sans-serif;
}
.about .title{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	margin-top: 100px;
	font-size: 45px;
	font-weight: 400;
	padding-bottom: 15px;
	border-bottom: solid;
	border-width: 7px;
	border-color: #49B7E9;
}
.about .aboutContent{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about .aboutContent .columnLeft{
	width: 50%;
}
.about .aboutContent .columnLeft img{
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 5px;
}
.about .aboutContent .columnRight{
	width: 50%;
}
.about .aboutContent .columnRight .text{
	font-size: 25px;
	font-weight: 600px;
	margin-bottom: 10px;
}

.about .aboutContent .columnRight p {
	font-size: 20px;
	text-align: justify;
}

.about .aboutContent .columnRight button {
	display: inline-block;
	background-color: #49B7E9;
	color: #fff;
	font-size: 25px;
	margin-top: 15px;
	padding: 1px 30px;
	border-style: solid;
	border-width: 2.5px;
	border-color: black;
	transition: all .3s ease;
	margin-left: 30%;
}
.about .aboutContent .columnRight button:hover {
	color: #49B7E9;
	background: none;
	font-weight: 500;
	pointer-events: click;
}


/* Skills Section Style */

.skills{
		font-family: 'Poppins', sans-serif;
}

.skills .title2{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	margin-top: 100px;
	font-size: 45px;
	font-weight: 400;
	padding-bottom: 15px;
	border-bottom: solid;
	border-width: 7px;
	border-color: #49B7E9;
}

.skills .skillsContent{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 35px;
}

.skills .skillsContent .columnLeft2{
	width: 50%;
	background-color: #fff;
}

.skills  .skillsContent .columnLeft2 img{
	height: 150px;
	width: 30%;
	object-fit: cover;
	padding: 20px;
}


.skills .skillsContent .columnRight2{
	width: 50%;
}


.skills .skillsContent .columnRight2 ul{
	list-style-type: square;
	font-size: 20px;
	text-align: justify;
	padding-left: 40px;
	font-family: 'Ubuntu' sans-serif;
}

.skills .skillsContent .columnRight2 ul li{
	padding: 15px;

}




/* IPAD / SMALL WINDOW */

@media screen and (max-width: 790px){

.navbar .logo a{
	display: none;
}
.navbar	.menu{
	margin: auto;
}
.navbar .maxWidth{
	padding: 0 0;
}
.maxWidth{
	max-width: 790px;
	}
.home{
	display: block;
	margin: auto;
}
.home .maxWidth{
	margin: auto;
}
.home .homeContent{
	text-align: center;
	padding-top: 250px;
	margin: auto;
}
.home .socialMedia {
	display: flex;
	margin-top: 200px;
	width: 100%;
	margin-bottom: 50px;
}
.home .socialMedia img{
	margin: auto;
	margin-bottom: 70px;
	height: 135px;
	width: 135px;
}
.about .aboutContent{
	display: block;
	align-items: center;
	justify-content: none;
	flex-wrap: none;
}
.about .aboutContent .columnLeft{
	width: 100%%;
	margin: auto;
	padding: 0;
}
.about .aboutContent .columnLeft img{
	height: 100%;
	width: 100%;
	object-fit: none;
	border-radius: 0px;
	margin-top: 20px;
}
.about .aboutContent .columnRight{
	width: 100%;
}
.about .aboutContent .columnRight .text{
	font-size: 22px;
	font-weight: 600px;
	margin-bottom: 15px;
}
.about .aboutContent .columnRight p {
	font-size: 20px;
	text-align: justify;
}
.about .aboutContent .columnRight button {

	font-size: 20px;
	margin-top: 15px;
	margin-left: 38%;
}
.skills .skillsContent{
	display: block;
	align-items: justify;
	justify-content: none;
	flex-wrap: none;
	padding-top: 35px;
	margin: 2%;
}
.skills .skillsContent .columnLeft2{
	width: 100%;
	background-color: #fff;
	margin: auto;
}
.skills  .skillsContent .columnLeft2 img{
	height: 150px;
	width: 25%;
	margin-left: 5%;	
}
.skills .skillsContent .columnRight2{
	width: 100%;
}




}




/* PHONE */
@media screen and (max-width: 415px){

.navbar .logo a{
	display: none;
}
.navbar	.menu li a{
	font-size: 15px;
	margin-left: 5px;
}
.maxWidth{
	max-width: 415px;
	padding: 0 0;
	}
.home{
	display: block;
	margin: auto;
}
.home .maxWidth{
	margin: auto;
}
.home .homeContent{
	text-align: left;
	padding-top: 250px;
	margin: auto;

}
.home .homeContent .text1{
	font-size: 20px;
	margin-left: 17px;
}

.home .homeContent .text2{
	font-size: 30px;
	font-weight: 600;
	margin-left: 16px;
}

.home .homeContent .text3{
	font-size: 23px;
	font-weight: 200;
	margin-left: 20px;
}
.home .socialMedia {
	display: flex;
	margin-top: 100px;
	width: 100%;
	margin-bottom: 50px;
}
.home .socialMedia img{
	margin: auto;
	height: 100px;
	width: 100px;
}
.about .aboutContent{
	display: block;
	align-items: center;
	justify-content: none;
	flex-wrap: none;
}
.about .aboutContent .columnLeft{
	width: 100%%;
	margin: auto;
	padding: 0;
}

.about .aboutContent .columnLeft img{
	height: 100%;
	width: 100%;
	object-fit: none;
	border-radius: 0px;
	margin-top: 20px;
}

.about .aboutContent .columnRight{
	width: 100%;
}


.about .aboutContent .columnRight .text{
	font-size: 18px;
}

.about .aboutContent .columnRight p {
	font-size: 15px;
	padding: 15px;
	text-align: justify;
}


.about .aboutContent .columnRight button {
	font-size: 15px;
	margin-top: 10px;
	margin-left: 35%;
	
}


.skills .skillsContent{
	display: block;
	align-items: justify;
	justify-content: none;
	flex-wrap: none;
	padding-top: 35px;
	margin: 2%;
}


.skills .skillsContent .columnLeft2{
	width: 100%;
	background-color: #fff;
	margin: auto;
}

.skills  .skillsContent .columnLeft2 img{
	height: 100px;
	width: 25%;
	margin-left: 5%;	
}


.skills .skillsContent .columnRight2 ul{
	list-style-type: none;
	font-size: 18px;
	text-align: center;
	padding-left: 20px;

}




}







