@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* Nav Bar Style */

.navbar{
	padding: 15px;
	position: fixed;
	width: 100%;
	background: #49B7E9;
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3s ease;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

.maxWidth{
	max-width: 1300px;
	padding: 0 30px;
	margin: auto;
}

.navbar .maxWidth{
	display: flex;
	align-items: center;
	
}

.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .menu{

	margin: auto;
	margin-right: 5px;
}
.navbar	.menu li{
	list-style: none;
	display: inline-block;

}
.navbar	.menu li a{
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}

.navbar .menu li a:hover{
	color: black ;
}






/* Home Section Style */


.home{
	display: flex;
	background-color: black;
	min-height: 100vh;
	color: #fff;
	
	font-family: Ubuntu, sans-serif;

}

.home .maxWidth{
	margin-left: 100px;

}



.home .homeContent .text1{
	font-size: 30px;
	min-width: 90%;

}

.home .homeContent .text2{
	font-size: 40px;
	font-weight: 600;
	margin-left: 2px;
	

}

.home .homeContent .text3{
	font-size: 26px;
	font-weight: 200;
	margin-left: 2px;
	
}

.home .socialMedia{
	padding: 20px;
	margin: auto;


}

.home  .socialMedia img{
	height: 150px;
	width: 150px;
	padding: 20px;
	border-radius: 100px;
}








@media screen and (max-width: 790px){

.navbar .logo a{
	display: none;
}
.navbar	.menu{
	margin: auto;
}

.navbar .maxWidth{
	padding: 0 0;
}

.maxWidth{
	max-width: 790px;
	}




.home{
	display: block;
	margin: auto;
}

.home .maxWidth{
	margin: auto;
}


.home .homeContent{
	text-align: center;
	padding-top: 250px;
	margin: auto;

}

.home .socialMedia {
	display: flex;
	margin-top: 200px;
	width: 100%;


}

.home .socialMedia img{
	margin: auto;

	height: 135px;
	width: 135px;
}




}




@media screen and (max-width: 415px){

.navbar .logo a{
	display: none;
}


.navbar	.menu li a{
	font-size: 15px;
	margin-left: 5px;
}


.maxWidth{
	max-width: 415px;
	padding: 0 0;
	}

.home{
	display: block;
	margin: auto;
}

.home .maxWidth{
	margin: auto;
}

.home .homeContent{
	text-align: left;
	padding-top: 250px;
	margin: auto;

}



.home .homeContent .text1{
	font-size: 20px;
	margin-left: 17px;

}

.home .homeContent .text2{
	font-size: 30px;
	font-weight: 600;
	margin-left: 16px;
	

}

.home .homeContent .text3{
	font-size: 23px;
	font-weight: 200;
	margin-left: 20px;
	
}




.home .socialMedia {
	display: flex;
	margin-top: 100px;
	width: 100%;


}

.home .socialMedia img{
	margin: auto;
	height: 100px;
	width: 100px;
}


}







